<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="keywords"
      content="espiritualidade, fé, vida cristã, autor Paulo Cesar Nascimento dos Santos, livro de fé, cristão, jornada espiritual"
    />
    <meta property="og:image" content="<%= image %>" />

    <link rel="icon" type="image/svg+xml" href="<%= favicon %>" />

    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />

    <link
      rel="preload"
      href="/assets/fonts/raleway/Raleway-Black.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/assets/fonts/raleway/Raleway-Bold.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/assets/fonts/raleway/Raleway-ExtraBold.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/assets/fonts/raleway/Raleway-Light.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/assets/fonts/raleway/Raleway-Medium.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/assets/fonts/raleway/Raleway-Regular.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/assets/fonts/raleway/Raleway-SemiBold.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/assets/fonts/raleway/Raleway-Thin.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
