.pcn-button {
  align-self: flex-start;
  font-weight: var(--pcn-font-weight-extra-bold);
  letter-spacing: -0.04em;
  border-radius: var(--pcn-border-radius-sm);
  padding: var(--pcn-spacing-lg) var(--pcn-spacing-lxm);
  cursor: pointer;
  transition: 0.3s;

  &--cta {
    background-color: transparent;
    color: rgb(var(--pcn-color-secondary));
    outline: solid 2px rgb(var(--pcn-color-secondary));
    box-shadow: 0 0 8px rgb(var(--pcn-color-secondary));

    @mixin mouseEffect {
      background-color: rgb(var(--pcn-color-secondary));
      color: rgb(var(--pcn-color-primary));
      outline: solid 2px rgb(var(--pcn-color-secondary));
      box-shadow: 0 0 0px rgb(var(--pcn-color-secondary));
    }

    &:hover {
      @include mouseEffect;

      @media (hover: none) {
        background-color: transparent;
        color: rgb(var(--pcn-color-secondary));
        outline: solid 2px rgb(var(--pcn-color-secondary));
        box-shadow: 0 0 8px rgb(var(--pcn-color-secondary));
      }
    }

    &:active {
      @include mouseEffect;
    }
  }
}
