@use '../../styles/core/settings/breakpoints';

.ec-buy {
  $buy: &;

  display: flex;
  flex-direction: column;
  gap: var(--ec-spacing-lg);

  &__header {
    display: flex;
    align-items: center;
    gap: var(--ec-spacing-lg);

    #{$buy}__title {
      max-width: 695px;
      display: flex;
      flex-direction: column;
      gap: var(--ec-spacing-md);
    }
  }

  &__price {
    display: flex;
    align-items: center;
    gap: var(--ec-spacing-md);

    &__group {
      display: flex;
      font-weight: var(--ec-font-weight-bold);
      color: rgb(var(--ec-color-neutral-60));

      &__prefix {
        align-self: center;
        font-size: var(--ec-font-size-xl);
      }

      &__value {
        font-size: var(--ec-font-size-giga);
      }

      &__suffix {
        align-self: end;
        position: relative;
        top: -10px;
        font-size: var(--ec-font-size-sm);
      }
    }
  }

  &__book {
    display: flex;
    gap: var(--ec-spacing-md);
    margin-top: var(--ec-spacing-md);

    @media (max-width: breakpoints.$ec-breakpoint-md) {
      flex-wrap: wrap;
    }

    &__btn-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--ec-spacing-sm);

      @media (max-width: breakpoints.$ec-breakpoint-md) {
        flex: 1;
        flex-basis: 142px;

        a,
        button {
          width: 100%;
        }
      }
    }
  }

  &__icon {
    color: rgb(var(--ec-color-neutral-30));
    height: 75px;
    min-width: 75px;
  }
}
