@use '../mixins/colors';
@use '../mixins/blobs';

$colors: (
  primary: (
    // #444E46
    68,
    78,
    70,
  ),

  secondary: (
    // #D1AE6C
    209,
    174,
    108,
  ),
  on-bg: (
    // #FFFFFF
    255,
    255,
    255,
  ),
  neutral-100: (
    // #000000
    0,
    0,
    0,
  ),
  neutral-60: (
    // #333333
    51,
    51,
    51,
  ),
  neutral-40: (
    // #5E5E5E
    94,
    94,
    94,
  ),
  neutral-30: (
    // #6F6F6F
    111,
    111,
    111,
  ),
  neutral-0: (
    // #ffffff
    255,
    255,
    255,
  ),
);

:root {
  @include colors.generate-vars($colors);
}

@include colors.generate-classes($colors);
@include blobs.generate-classes(
  primary,
  --pcn-color-primary,
  --pcn-color-neutral-100
);
@include blobs.generate-classes(
  secondary,
  --pcn-color-secondary,
  --pcn-color-neutral-0
);
