@use '../mixins/colors';

$colors: (
  primary: (
    // #F7F7F7
    247,
    247,
    247,
  ),
  secondary: (
    // #D1AE6C
    209,
    174,
    108,
  ),
  on-bg: (
    // #000000
    0,
    0,
    0,
  ),
);

.ec-a-new-story-theme {
  @include colors.generate-vars($colors);
}
