@use '../mixins/colors';

$colors: (
  primary: (
    247,
    247,
    247,
  ),
  // #F7F7F7
  secondary:
    (
      209,
      174,
      108,
    ),
  // #D1AE6C
  on-bg:
    (
      0,
      0,
      0,
    ),
  // #000000
);

.pcn-a-new-story-theme {
  @include colors.generate-vars($colors);
}
