@use '../mixins/colors';

$colors: (
  primary: (
    // #E0CAB5
    224,
    202,
    181,
  ),
  secondary: (
    // #8C1116
    140,
    17,
    22,
  ),
  on-bg: (
    // #000000
    0,
    0,
    0,
  ),
);

.pcn-bread-and-fish-theme {
  @include colors.generate-vars($colors);
}
