@use '../mixins/colors';

$colors: (
  primary: (
    // #EDE6D8
    245,
    237,
    221,
  ),
  secondary: (
    // #9C2731
    30,
    26,
    25,
  ),
  on-bg: (
    // #000000
    0,
    0,
    0,
  ),
);

.ec-rust-season-theme {
  @include colors.generate-vars($colors);
}
