@use '../mixins/colors';

$colors: (
  primary: (
    // #444E46
    68,
    78,
    70,
  ),
  secondary: (
    // #D1AE6C
    209,
    174,
    108,
  ),
  on-bg: (
    // #FFFFFF
    255,
    255,
    255,
  ),
);

.ec-still-in-the-garden-theme {
  @include colors.generate-vars($colors);
}
