@use '../mixins/colors';

$colors: (
  primary: (
    // #ffcc33
    255,
    204,
    42,
  ),
  secondary: (
    //  #393336
    57,
    51,
    54,
  ),
  on-bg: (
    // #000000
    0,
    0,
    0,
  ),
);

.ec-the-amazing-adventures-of-dog-onion-and-kitty-mica-theme {
  @include colors.generate-vars($colors);
}
