@use '../mixins/colors';

$colors: (
  primary: (
    // #EDE6D8
    237,
    230,
    216,
  ),
  secondary: (
    // #9C2731
    156,
    39,
    49,
  ),
  on-bg: (
    // #000000
    0,
    0,
    0,
  ),
);

.ec-the-book-of-dora-and-her-sisters-theme {
  @include colors.generate-vars($colors);
}
