@use './core/helpers/helpers';
@use './core/settings/settings';
@use './core/settings/breakpoints';
@use './core/blobs/blobs';
@use './fonts/fonts';
@use './core/themes/themes';

.pcn-container {
  width: calc(100% - var(--pcn-spacing-lg) * 2);
  max-width: breakpoints.$pcn-breakpoint-lg;
  margin: 0 auto;
  padding: 0px var(--pcn-spacing-lg);
}
