@use './raleway';
@use './roboto';
@use '../core/settings/breakpoints';

html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.pcn-font-emphasis {
  font-family: 'Raleway', sans-serif;
  font-size: var(--pcn-font-size-colossal);
  font-weight: var(--pcn-font-weight-semibold);
  letter-spacing: var(--pcn-letter-spacing-xs);
  line-height: 68px;
  color: rgb(var(--pcn-color-secondary));

  @media (max-width: breakpoints.$pcn-breakpoint-md) {
    font-size: var(--pcn-font-size-xxl);
    line-height: 48px;
  }
}

.pcn-font-heading {
  font-family: 'Raleway', sans-serif;
  font-size: var(--pcn-font-size-xl);
  font-weight: var(--pcn-font-weight-bold);
  letter-spacing: var(--pcn-letter-spacing-sm);
  color: rgb(var(--pcn-color-neutral-60));

  @media (max-width: breakpoints.$pcn-breakpoint-md) {
    font-size: var(--pcn-font-size-lg);
  }
}

.pcn-font-subheading {
  font-family: 'Raleway', sans-serif;
  font-size: var(--pcn-font-size-lg);
  font-weight: var(--pcn-font-weight-bold);
  color: rgb(var(--pcn-color-neutral-40));
}

.pcn-font-caption {
  font-family: 'Raleway', sans-serif;
  font-size: var(--pcn-font-size-lg);
  font-weight: var(--pcn-font-weight-bold);
  letter-spacing: var(--pcn-letter-spacing-sm);
  color: rgb(var(--pcn-color-neutral-30));

  @media (max-width: breakpoints.$pcn-breakpoint-md) {
    font-size: var(--pcn-font-size-md);
  }
}

.pcn-font-body {
  font-family: 'Raleway', sans-serif;
  font-size: var(--pcn-font-size-xsm);
  font-weight: var(--pcn-font-weight-regular);
  line-height: 24px;
  color: rgb(var(--pcn-color-neutral-30));
}

.pcn-font-number {
  font-family: 'Roboto', sans-serif;
}

strong {
  font-weight: var(--pcn-font-weight-extra-bold);
}

.pcn-uppercase {
  text-transform: uppercase;
}

.pcn-text-align-justify {
  text-align: justify;
}
