@use '../../styles/core/settings/breakpoints';

.ec-sinopse {
  display: flex;
  flex-direction: column;
  gap: var(--ec-spacing-lg);
  margin-top: var(--ec-spacing-colossal);

  @media (max-width: breakpoints.$ec-breakpoint-md) {
    margin-top: var(--ec-spacing-0);
  }

  &__contents {
    display: flex;
    flex-direction: column;
    gap: var(--ec-spacing-sm);
  }
}
