@use '../../styles/core/settings/breakpoints';

.pcn-about {
  $about: &;

  background-color: rgb(var(--pcn-color-neutral-20));
  padding: 0px;

  &__body {
    display: flex;
    justify-content: space-between;
    gap: var(--pcn-spacing-md);

    @media (max-width: breakpoints.$pcn-breakpoint-md) {
      flex-direction: column;
      gap: var(--pcn-spacing-lg);
    }

    #{$about}__author {
      flex: 1;

      &__image {
        display: block;
        min-height: 400px;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-image: url('/assets/images/author.jpeg');
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    #{$about}__caption {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: var(--pcn-spacing-lg);
      padding: var(--pcn-spacing-xxl);

      @media (max-width: breakpoints.$pcn-breakpoint-md) {
        padding: var(--pcn-spacing-lg);
        padding-top: var(--pcn-spacing-0);
      }

      #{$about}__subscription {
        width: 144px;
      }
    }
  }
}
