@use '../../styles/core/settings/breakpoints';

.ec-about {
  $about: &;

  background-color: rgb(var(--ec-color-neutral-20));
  padding: 0px;

  &__body {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    gap: var(--ec-spacing-md);
    margin: 0 auto;

    @media (max-width: breakpoints.$ec-breakpoint-md) {
      flex-direction: column;
      gap: var(--ec-spacing-lg);
    }

    #{$about}__author {
      flex: 1;

      figure {
        height: 100%;
      }

      &__image {
        display: block;
        max-height: 600px;
        min-height: 400px;
        height: 100%;
        width: 100%;
        position: relative;
        object-fit: cover;
        object-position: 50% 10%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        transition-delay: 0.3s;

        &--loaded {
          opacity: 1;
        }
      }
    }

    #{$about}__caption {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: var(--ec-spacing-lg);
      padding: var(--ec-spacing-xxl);

      @media (max-width: breakpoints.$ec-breakpoint-md) {
        padding: var(--ec-spacing-lg);
        padding-top: var(--ec-spacing-0);
      }

      #{$about}__subscription {
        width: 144px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        transition-delay: 0.3s;

        &--loaded {
          opacity: 1;
        }
      }
    }
  }
}
