.pcn-card {
  width: 100%;
  padding: var(--pcn-spacing-xsm) var(--pcn-spacing-md);
  border-radius: var(--pcn-border-radius-sm);
  box-shadow: 0px 2px 2px 0px rgba(var(--pcn-color-neutral-100), 0.12);

  &--left {
    background: linear-gradient(
      80deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(204, 204, 204, 0.15) 100%
    );
  }

  &--right {
    background: linear-gradient(
      260deg,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(204, 204, 204, 0.15) 100%
    );
  }
}
