.ec-characteristics {
  $characteristics: &;

  display: flex;
  flex-direction: column;
  gap: var(--ec-spacing-lg);

  &__items {
    display: flex;
    flex-direction: column;
    gap: var(--ec-spacing-md);

    #{$characteristics}__line {
      display: flex;
      gap: var(--ec-spacing-md);

      & > .ec-characteristics__item {
        display: flex;
        font-size: var(--ec-font-size-xsm);

        &:nth-child(1) {
          flex: 1;

          * {
            min-width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: var(--ec-font-weight-semibold);
            text-align: center;
            white-space: nowrap;
          }
        }

        &:nth-child(2) {
          flex: 2;

          p {
            height: 100%;
            display: flex;
            align-items: center;

            &.ec-font-number {
              word-break: break-all;
            }
          }
        }
      }
    }
  }
}
