$color-skeleton-light: #e0e0e0;
$color-skeleton-dark: #f0f0f0;

.ec-skeleton {
  border-radius: 4px;
  animation: shimmer 1.5s infinite alternate;
  background: linear-gradient(
    90deg,
    $color-skeleton-light 25%,
    $color-skeleton-dark 50%,
    $color-skeleton-light 75%
  );
  background-size: 200% 100%;

  &__text {
    height: 16px;
    width: 100%;
    margin: 10px 0;
  }

  @keyframes shimmer {
    0% {
      background-position: -100px 0;
    }
    100% {
      background-position: 100px 0;
    }
  }
}
