@use '../../styles/core/settings/breakpoints';

.pcn-footer {
  $this: &;

  background-color: rgb(var(--pcn-color-primary));
  font-size: var(--pcn-font-size-xs);
  letter-spacing: var(--pcn-letter-spacing-sm);
  color: rgb(var(--pcn-color-secondary));
  padding: var(--pcn-spacing-lg) 0px;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--pcn-spacing-lg);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: var(--pcn-spacing-lg);

    @media (max-width: breakpoints.$pcn-breakpoint-md) {
      flex-direction: column;
    }

    #{$this}__cover {
      img {
        width: 42px;
        border: 1px solid rgb(var(--pcn-color-on-bg));
      }
    }

    #{$this}__links {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: var(--pcn-spacing-lxm);

      @media (max-width: breakpoints.$pcn-breakpoint-md) {
        flex-direction: column;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: var(--pcn-spacing-md);

        a {
          font-weight: var(--pcn-font-weight-bold);
          color: rgb(var(--pcn-color-secondary));
        }
      }
    }
  }

  &__middle {
    display: flex;
    justify-content: center;
    padding: var(--pcn-spacing-lg);
    border: {
      top: 1px solid rgb(var(--pcn-color-secondary));
      bottom: 1px solid rgb(var(--pcn-color-secondary));
    }
    text-align: center;
    font-weight: var(--pcn-font-weight-bold);
  }

  &__bottom {
    #{$this}__developer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      color: rgb(var(--pcn-color-on-bg));

      a {
        font-weight: var(--pcn-font-weight-bold);
        color: rgb(var(--pcn-color-on-bg));
        margin-left: var(--pcn-spacing-xs);
      }
    }
  }
}
