@use '../../styles/core/settings/breakpoints';

.ec-footer {
  $this: &;

  background-color: rgb(var(--ec-color-primary));
  font-size: var(--ec-font-size-xs);
  letter-spacing: var(--ec-letter-spacing-sm);
  color: rgb(var(--ec-color-secondary));
  padding: var(--ec-spacing-lg) 0px;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--ec-spacing-lg);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: var(--ec-spacing-lg);

    @media (max-width: breakpoints.$ec-breakpoint-md) {
      flex-direction: column;
    }

    #{$this}__cover {
      img {
        width: 42px;
        border: 1px solid rgb(var(--ec-color-on-bg));
      }
    }

    #{$this}__links {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: var(--ec-spacing-lxm);

      @media (max-width: breakpoints.$ec-breakpoint-md) {
        flex-direction: column;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: var(--ec-spacing-md);

        a {
          font-weight: var(--ec-font-weight-bold);
          color: rgb(var(--ec-color-secondary));

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__middle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--ec-spacing-md);
    padding: var(--ec-spacing-lg);
    border: {
      top: 1px solid rgb(var(--ec-color-secondary));
      bottom: 1px solid rgb(var(--ec-color-secondary));
    }
    text-align: center;
    font-weight: var(--ec-font-weight-bold);

    &__medias {
      display: flex;
      justify-content: center;
      gap: var(--ec-spacing-xs);

      .ec-i {
        color: rgb(var(--ec-color-secondary));
        font-size: var(--ec-font-size-lg);
        border: 1px solid rgb(var(--ec-color-secondary));
        border-radius: var(--ec-border-radius-lg);
        padding: var(--ec-spacing-sm);
        transition: all 0.15s ease-in-out;

        &:hover {
          color: rgb(var(--ec-color-on-bg));
          border-color: rgb(var(--ec-color-on-bg));
          scale: 1.02;
        }
      }
    }
  }

  &__bottom {
    #{$this}__developer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      color: rgb(var(--ec-color-on-bg));

      a {
        font-weight: var(--ec-font-weight-bold);
        color: rgb(var(--ec-color-on-bg));
        margin-left: var(--ec-spacing-xs);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
