@mixin generate-vars($colors) {
  @each $key, $value in $colors {
    --ec-color-#{$key}: #{$value};
  }
}

@mixin generate-classes($vars) {
  @each $key, $value in $vars {
    .ec-bg-color-#{$key} {
      background-color: rgb(var(--ec-color-#{$key}));
    }

    .ec-text-color-#{$key} {
      color: rgb(var(--ec-color-#{$key}));
    }

    .ec-border-color-#{$key} {
      border-color: rgb(var(--ec-color-#{$key}));
    }
  }
}
