$directions: (left, top, bottom, right, y, x);

@mixin generate-vars($spacings) {
  @each $key, $value in $spacings {
    --ec-spacing-#{$key}: #{$value};
  }
}

@mixin generate-classes($vars) {
  @each $key, $value in $vars {
    .ec-padding-#{$key} {
      padding: var(--ec-spacing-#{$key});
    }

    .ec-margin-#{$key} {
      margin: var(--ec-spacing-#{$key});
    }

    @each $dir in $directions {
      @if $dir == 'y' {
        .ec-padding-#{$key}-#{$dir} {
          padding-top: var(--ec-spacing-#{$key});
          padding-bottom: var(--ec-spacing-#{$key});
        }

        .ec-margin-#{$key}-#{$dir} {
          margin-top: var(--ec-spacing-#{$key});
          margin-bottom: var(--ec-spacing-#{$key});
        }
      } @else if $dir == 'x' {
        .ec-padding-#{$key}-#{$dir} {
          padding-left: var(--ec-spacing-#{$key});
          padding-right: var(--ec-spacing-#{$key});
        }

        .ec-margin-#{$key}-#{$dir} {
          margin-left: var(--ec-spacing-#{$key});
          margin-right: var(--ec-spacing-#{$key});
        }
      } @else {
        .ec-padding-#{$key}-#{$dir} {
          padding-#{$dir}: var(--ec-spacing-#{$key});
        }

        .ec-margin-#{$key}-#{$dir} {
          margin-#{$dir}: var(--ec-spacing-#{$key});
        }
      }
    }
  }
}
