@use '../mixins/borders';

$border-radius: (
  0: 0px,
  xs: 4px,
  sm: 8px,
  xsm: 12px,
  md: 16px,
  mdg: 20px,
  lg: 24px,
  lxm: 32px,
  xl: 48px,
  round: 999px,
);

:root {
  @include borders.generate-border-radius-vars($border-radius);
}
