@use '../../styles/core/settings/patterns';
@use '../../styles/core/settings/breakpoints';

.ec-banner {
  $banner: &;
  position: relative;
  background-color: rgba(var(--ec-color-primary), 0.9);
  padding: var(--ec-spacing-giga) 0px;

  @media (max-width: breakpoints.$ec-breakpoint-md) {
    padding: var(--ec-spacing-lg) 0px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @extend .ec-pattern-clouds;
  }

  &__body {
    display: flex;
    gap: var(--ec-spacing-md);
    min-height: 300px;

    &__book {
      width: 355px;
      position: relative;
      z-index: 1;

      img {
        width: 100%;
        position: absolute;
        bottom: -216px;
        opacity: 0;
        transform: translateY(32px);
        transition: all 0.3s ease-in-out;
        transition-delay: 0.3s;

        &.book--loaded {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }

    @media (max-width: breakpoints.$ec-breakpoint-md) {
      flex-wrap: wrap;

      #{$banner}__body__book {
        img {
          position: static;
          width: 60%;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--ec-spacing-md);

      #{$banner}__title {
        max-width: 680px;
      }

      #{$banner}__about {
        display: flex;
        flex-direction: column;
        font-size: var(--ec-font-size-xsm);
        color: rgb(var(--ec-color-on-bg));
        gap: var(--ec-spacing-sm);

        p {
          display: flex;
          flex-direction: column;

          small {
            font-size: var(--ec-font-size-xs);
          }
        }
      }
    }
  }
}
