@use '../../styles/core/settings/patterns';
@use '../../styles/core/settings/breakpoints';

.pcn-banner {
  $banner: &;
  position: relative;
  background-color: rgba(var(--pcn-color-primary), 0.9);
  padding: var(--pcn-spacing-giga) 0px;

  @media (max-width: breakpoints.$pcn-breakpoint-md) {
    padding: var(--pcn-spacing-lg) 0px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    @extend .pcn-pattern-clouds;
  }

  &__body {
    display: flex;
    gap: var(--pcn-spacing-md);

    &__book {
      width: 355px;
      position: relative;
      z-index: 1;

      img {
        width: 100%;
        position: absolute;
        bottom: -202px;
      }
    }

    @media (max-width: breakpoints.$pcn-breakpoint-md) {
      flex-wrap: wrap;

      #{$banner}__body__book {
        img {
          position: static;
          width: 60%;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: var(--pcn-spacing-md);

      #{$banner}__title {
        max-width: 680px;
      }

      #{$banner}__about {
        display: flex;
        flex-direction: column;
        font-size: var(--pcn-font-size-xsm);
        color: rgb(var(--pcn-color-on-bg));
        gap: var(--pcn-spacing-sm);

        p {
          display: flex;
          flex-direction: column;

          small {
            font-size: var(--pcn-font-size-xs);
          }
        }
      }
    }
  }
}
